[Desktop Entry]
Name=Parental Controls Client
Exec=pantheon-parental-controls-client
Icon=preferences-system-parental-controls
Comment=Show parental control restrictions
